@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:900');

:root {
  --main-font: 'Lato', sans-serif;
  --secondary-font: 'Montserrat', sans-serif;
  --main-light-color: #ffffff;
  --accent-color: #276fbf;
  --main-text-color: #000000;
  --secondary-text-color: #8c8c8c;
  --bg-color: #f7f7f7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  font-size: 16px;
  color: var(--main-text-color);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
